*{
margin: 0;
padding: 0;
}
#banner{
  background: linear-gradient(rgba(0,0,0,0.5),#009688),url('laptopsk.jpg') 0 0;
  background:('laptopsk.jpg');
background-size:cover;
background-postion:center;
height:100vh;
}
.banner-text{
text-align: center;
color: #fff;
padding-top: 18px;
}
.banner-text h1{
font-size: 100px;
 font-family: 'Brush Script MT', cursive;
}
.banner-text p{
font-size: 30px;
font-style: italic;
}
.banner-btn{
margin: 70px auto 0;
}
.banner-btn a{
width: 150px;
text-decoration: none;
display: inline-block;
margin: 0 10px;
padding: 12px 0;
color: #fff;
border: .5px solid #fff;
position: relative;
} 
.banner-btn a:hover span{
width: 100;
}
.banner-btn a:hover{
color: #000;
}
#sidenav{
width: 125px;
height: 100vh;
position: fixed;
right: 0;
top: 0; 
background: #009688;
z-index: 2;
transition: 1.5s;
}
nav ul li{
list-style: none;
margin: 50px 20px;
}
nav ul li a{
text-decoration: none;
color: #fff;
}
#menubtn{
width: 20px;
height: 20px;
background: #009688;
text-alogh: center;
position: fixed;
right: 10px;
top: 20px;
border-radius: 3px;
z-index: 3;
cursor: pointer;
}
#menubtn img{
width: 20px;
mergin-top: 15px;
}
}


